body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	width: 100%;
	background-color: black;
}

.cursor-pointer {
	cursor: pointer;
}

.task-details {
	height: calc(100vh - 48px);
	position: sticky;
	top: 0;
}

.hover:hover {
	background-color: #252525;
	color: white;
}

.selected {
	background-color: #202020;
	color: white;
}

.not-selected {
	background-color: #303030;
	color: white;
}

.t-smooth {
	transition: transform 0.3s ease-in-out;
}

.w-97 {
	width: 97%;
}

.sidebar {
	transform: translateX(0);
}

.collapsed {
	display: none !important;
}

.sidebar-collapsed {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100vh;
}

@media (max-width: 768px) {
	.sidebar {
		position: fixed;
		top: 56px;
		left: 0;
		bottom: 0;
		z-index: 1000;
		width: 250px !important;
	}
}
